// you can change colors here

$vp-c-brand: #4f6348;
$vp-c-brand-light: #6b7f63;
$vp-c-brand-lighter: #8da083;
$vp-c-brand-dark: #3e4f39;
$vp-c-brand-darker: #2f3d2c;

$vp-c-bg: (
	light: #f9f5ee,
	dark: #17130f,
);

$vp-c-bg-soft: (
	light: #fdfbf7,
	dark: #221c17,
);

$vp-c-bg-alt: (
	light: #f6f1e8,
	dark: #2b231c,
);

$vp-c-bg-elv: (
	light: #fffdfa,
	dark: #2a221c,
);

$vp-c-border: (
	light: #e8dfd1,
	dark: #3a3128,
);

$vp-c-border-hard: (
	light: #dacdbb,
	dark: #4a3f34,
);

$vp-c-text: (
	light: #2f2a24,
	dark: #e7dccd,
);

$vp-c-text-mute: (
	light: #5f574d,
	dark: #b7ab9a,
);

$vp-c-text-subtle: (
	light: #847869,
	dark: #948777,
);

$vp-c-tip: (
	light: #e8f0de,
	dark: #263126,
);

$vp-c-warning: (
	light: #f3e2b8,
	dark: #3a311d,
);

$vp-c-danger: (
	light: #f0c9c1,
	dark: #402722,
);

$vp-code-bg: (
	light: #f5efe6,
	dark: #241d17,
);